/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.cardHighlight {
  min-height: 100%;
}

h1 {
  font-weight: bolder !important;
  color: white !important;
}

.h1-pink {
  color: #cc5588 !important;
  border-color: #cc5588 !important;
}

.bg-pink {
  background-color: #cc5588 !important;
}

.btn-pink {
  background-color: #cc5588 !important;
  border-color: #313c5d !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}
.bi-cart3 {
  font-size: 30px;
}
body {
  background-color: #313c5d !important;
}
